* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.none {
  display: none;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}
@media only screen and (max-width: 810px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 280px) {
  html {
    font-size: 40%;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.678);
  z-index: 25000;
  transition: all 2s;
}
.overlay .side-nav {
  width: 35rem;
  height: 100vh;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: scroll;
  padding: 2.2rem;
  opacity: 1;
}
.overlay .side-nav__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.overlay .side-nav__top .avatar {
  width: 7rem;
  height: 7rem;
  background-color: #ebc20b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay .side-nav__top .avatar span {
  color: white;
  font-size: 3rem;
  font-weight: 700;
}
.overlay .side-nav__top .side-nav-user h2 {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 0.9rem;
}
.overlay .side-nav__top .side-nav-user p {
  font-size: 1.8rem;
  color: gray;
}
.overlay .side-nav ul {
  list-style: none;
  margin: 2rem 0;
  padding-bottom: 2rem;
}
.overlay .side-nav ul:nth-of-type(2n) li {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.overlay .side-nav ul:not(:last-child) {
  border-bottom: 2px solid gray;
}
.overlay .side-nav ul li {
  line-height: 5rem;
  color: gray;
  font-size: 2rem;
}
.overlay .side-nav ul li:first-child {
  color: gray;
  font-weight: 900;
  font-size: 1.5rem;
}
.overlay .side-nav-close {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 3%;
  left: 38rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay .side-nav-close span {
  font-size: 3rem;
  font-weight: normal;
  color: grey;
}

.header {
  font-size: 1.3rem;
  width: 100%;
  height: 8rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  border-bottom: 1px solid rgba(128, 128, 128, 0.774);
}
.header .ham-burger-menu {
  display: none;
  color: black;
  font-weight: normal;
}
@media only screen and (max-width: 810px) {
  .header .ham-burger-menu {
    display: block;
    margin-left: 2rem;
    font-size: 2.2rem;
  }
}
@media only screen and (max-width: 810px) {
  .header {
    height: 6.5rem;
  }
}
@media only screen and (max-width: 810px) {
  .header .div-logo {
    position: absolute;
    top: 10px;
    left: 40%;
    transform: translate(-30%, -50%);
  }
}
.header .div-logo .logo {
  margin-left: 2rem;
  height: 3.5rem;
}
@media only screen and (max-width: 810px) {
  .header .div-logo .logo {
    position: absolute;
    margin: auto;
  }
}
.header .search {
  width: 40%;
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
@media only screen and (max-width: 810px) {
  .header .search {
    position: absolute;
    top: 20px;
    right: 40px;
    width: 20px;
  }
}
.header .search .search__icon {
  margin-right: -4rem;
  z-index: 2;
  width: 3rem;
  border-radius: 11rem;
  font-size: 1.5rem;
}
.header .search .search__icon i {
  color: gray;
}
@media only screen and (max-width: 810px) {
  .header .search .search__icon i {
    font-size: 2rem;
  }
}
.header .search .search__element {
  background-color: rgba(228, 228, 228, 0.247);
  width: 100%;
  border: 1px solid gray;
  border-radius: 10rem;
  height: 4.5rem;
  padding-left: 4rem;
  font-size: 1.3rem;
}
@media only screen and (max-width: 810px) {
  .header .search .search__element {
    display: none;
  }
}
.header .search .search__element:focus {
  outline: none;
}
@media only screen and (max-width: 1150px) {
  .header .search {
    margin-right: -3px;
  }
}
@media only screen and (max-width: 950px) {
  .header .search {
    margin-right: -3px;
  }
}
.header .avatar-container {
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .avatar {
  margin-right: 2rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #ebc20b;
  position: relative;
}
@media only screen and (max-width: 810px) {
  .header .avatar {
    display: none;
  }
}
.header .avatar span {
  font-size: medium;
  font-weight: bold;
  color: white;
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header a {
  text-decoration: none;
  color: rgba(37, 37, 37, 0.774);
}
.header a:hover {
  color: #3f92b3;
}
.header a i {
  font-size: 2rem;
}

.avatar-container .avatar-pop {
  display: none;
  opacity: 0;
  position: absolute;
  z-index: 1000;
  background-color: white;
  min-height: 100vh;
  width: 30rem;
  top: 8rem;
  right: 1rem;
  padding: 3rem 2rem;
  color: #5f5f5f;
  box-shadow: 1px 1px 2px #bbbbbb, -1px -1px 2px #bbbbbb;
  transition: all 5s;
}
.avatar-container .avatar-pop__top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.avatar-container .avatar-pop__top .avatar--big {
  height: 4.5rem;
  width: 4.5rem;
}
.avatar-container .avatar-pop__top .avatar--big span {
  font-size: 2rem;
  font-weight: 700;
}
.avatar-container .avatar-pop__top .avatar-user h2 {
  color: black;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.avatar-container .avatar-pop__top .avatar-user h2:hover {
  color: #3589aa;
}
.avatar-container .avatar-pop__top .avatar-user p {
  font-size: 1.1rem;
}
.avatar-container .avatar-pop__bottom {
  padding: 2rem 0;
}
.avatar-container .avatar-pop__bottom h2 {
  color: black;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.avatar-container .avatar-pop__bottom h2:hover {
  color: #3589aa;
}
.avatar-container .avatar-pop__bottom h2 i {
  font-size: 3rem;
  margin-left: 2rem;
}
.avatar-container .avatar-pop ul {
  list-style: none;
  border-bottom: 1px solid #a8a8a8;
  padding: 2rem 0;
}
.avatar-container .avatar-pop ul li {
  line-height: 2.5rem;
}
.avatar-container .avatar-pop ul li:hover {
  color: #3589aa;
}

.avatar-container:hover .avatar-pop {
  display: block;
  opacity: 1;
}

.notifications {
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 810px) {
  .notifications {
    display: none;
  }
}
.notifications__pop {
  display: none;
  position: absolute;
  top: 8rem;
  right: 5rem;
  width: 27rem;
  min-height: 8rem;
  background-color: white;
  z-index: 1000;
  text-align: center;
  padding: 1.5rem;
  box-shadow: 1px 1px 2px #bbbbbb, -1px -1px 2px #bbbbbb;
}
.notifications__pop div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.notifications__pop div h2 {
  color: black;
}
.notifications__pop div h3 {
  color: #3589aa;
  font-size: 1.3rem;
  font-weight: 900;
}
.notifications__pop div h3:hover {
  color: #2f7997;
}
.notifications__pop p {
  color: #5f5f5f;
  font-size: 1.6rem;
}
.notifications:hover .notifications__pop {
  display: block;
}

.my-course {
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 810px) {
  .my-course {
    display: none;
  }
}
.my-course__container {
  display: none;
  position: absolute;
  top: 8rem;
  right: 15rem;
  width: 27rem;
  min-height: 8rem;
  background-color: white;
  z-index: 1000;
  text-align: center;
  box-shadow: 1px 1px 2px #bbbbbb, -1px -1px 2px #bbbbbb;
}
.my-course__container .course-content {
  overflow-y: auto;
}
.my-course__container .course-btn {
  z-index: 3000;
  margin-top: 2rem;
  padding-bottom: 2rem;
}
.my-course__container .course-btn a {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1.5rem;
  width: 90%;
  background-color: #2077a0;
  color: white;
  border-radius: 5px;
}
.my-course__container .course-btn a:hover {
  background-color: #0a425c;
  color: white;
}
.my-course:hover .my-course__container {
  display: block;
}

.course-element {
  display: flex;
  padding: 2.2rem 1.5rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  width: 100%;
  min-height: 5rem;
}
.course-element div {
  margin-right: 1.5rem;
}
.course-element div img {
  object-fit: cover;
  width: 4.5rem;
}
.course-element .course-desc {
  flex: 1;
  text-align: left;
}
.course-element .course-desc h2 {
  font-size: 1.5rem;
}
.course-element .course-desc .progress {
  width: 100%;
  height: 8px;
  border-radius: 20rem;
  position: relative;
  background-color: rgba(128, 128, 128, 0.384);
  margin-top: 1.5rem;
}
.course-element .course-desc .progress span {
  width: 80%;
  background-color: #2077a0;
  height: 8px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20rem;
}

.wish-list {
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 810px) {
  .wish-list {
    display: none;
  }
}
.wish-list__container {
  display: none;
  position: absolute;
  top: 8rem;
  right: 13rem;
  width: 30rem;
  background-color: white;
  z-index: 5000;
  text-align: center;
  box-shadow: 1px 1px 2px #bbbbbb, -1px -1px 2px #bbbbbb;
}
.wish-list__container .list-content {
  min-height: auto;
  max-height: 70vh;
  overflow-y: scroll;
  width: 100%;
}
.wish-list__container .list-btn {
  z-index: 6000;
  margin-top: 1.5rem;
  padding-bottom: 2rem;
}
.wish-list__container .list-btn a {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1.4rem;
  width: 90%;
  background-color: #2077a0;
  color: white;
  border-radius: 5px;
}
.wish-list__container .list-btn a:hover {
  background-color: #0a425c;
  color: white;
}
.wish-list:hover .wish-list__container {
  display: block;
}

.list-element {
  display: flex;
  flex-direction: column;
  padding: 2.2rem 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  width: 100%;
  height: auto;
}
.list-element div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-element div div {
  justify-self: flex-start;
  width: 30%;
  margin-right: 1rem;
}
.list-element div div img {
  object-fit: cover;
  width: 100%;
}
.list-element div .list-desc {
  width: 70%;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: start;
}
.list-element div .list-desc h2 {
  width: 100%;
  line-height: 1.5rem;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
.list-element div .list-desc p {
  margin-top: 0.2rem;
  font-size: 1.2rem;
  line-height: 1.3rem;
  margin-bottom: 0.5rem;
}
.list-element div .list-desc .price {
  font-size: 1.4rem;
  margin-top: 0.1rem;
  line-height: 1.3rem;
}
.list-element .list-elementBtn {
  margin-top: 1rem;
}
.list-element .list-elementBtn a {
  width: 100%;
  padding: 1.5rem;
  background-color: white;
  color: #2077a0;
  border: 2px solid #2077a0;
  font-size: 1.3rem;
  font-weight: bold;
}
.list-element .list-elementBtn:hover a {
  color: #184a61;
  border: 2px solid #184a61;
}

.cart {
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 810px) {
  .cart {
    position: absolute;
    top: 20px;
    right: 10px;
  }
}
.cart .cart-no {
  position: absolute;
  top: 1.5rem;
  right: 10rem;
  z-index: 5000;
  background-color: red;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
}
.cart .cart-no span {
  font-size: 1rem;
  font-weight: 900;
  color: white;
}
.cart-pop {
  display: none;
  position: absolute;
  top: 8rem;
  right: 8rem;
  width: 27rem;
  height: 8rem;
  background-color: white;
  z-index: 10000;
  text-align: center;
  padding: 1.5rem;
  box-shadow: 1px 1px 2px #bbbbbb, -1px -1px 2px #bbbbbb;
}
.cart-pop p {
  color: #5f5f5f;
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
}
.cart-pop h3 {
  color: #3589aa;
  font-size: 1.3rem;
  font-weight: 900;
}
.cart-pop h3:hover {
  color: #2f7997;
}
.cart:hover .cart-pop {
  display: block;
}
@media only screen and (max-width: 810px) {
  .cart:hover .cart-pop {
    display: none;
  }
}

.category {
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 810px) {
  .category {
    display: none;
  }
}
.category__container {
  display: none;
  position: absolute;
  top: 8rem;
  left: 5rem;
  width: 25rem;
  padding: 1.2rem;
  min-height: 100vh;
  background-color: white;
  z-index: 5000;
  text-align: left;
  list-style: none;
  box-shadow: 1px 2px 2px #bbbbbb, -1px -1px 2px #bbbbbb;
  color: #5f5f5f;
}
.category__container .sub-category {
  display: none;
  position: absolute;
  top: 0rem;
  left: 25rem;
  width: 25rem;
  padding: 1.2rem;
  min-height: 100vh;
  background-color: white;
  z-index: 5000;
  text-align: left;
  list-style: none;
  box-shadow: 1px 1px 2px #bbbbbb, -1px -1px 2px #bbbbbb;
  color: #5f5f5f;
}
.category__container:hover .sub-category {
  display: block;
}
.category__container li {
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
}
.category__container li:hover {
  color: #2077a0;
}
.category:hover .category__container {
  display: block;
}

.head {
  font-size: 1.3rem;
  width: 100%;
  background-color: rgba(236, 236, 236, 0.24);
}
@media only screen and (max-width: 810px) {
  .head {
    display: none;
  }
}
.head__container {
  width: 70%;
  height: 5rem;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media only screen and (max-width: 1110px) {
  .head__container {
    width: 80%;
  }
}
@media only screen and (max-width: 900px) {
  .head__container {
    width: 100%;
  }
}
.head__container .heads {
  position: relative;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head__container .heads a {
  text-decoration: none;
  color: #5f5f5f;
}
.head__container .heads:hover::after {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 10px solid black;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: 4.3rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100000;
}
.head__container .head-pop {
  position: absolute;
  top: 13rem;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: black;
  z-index: 10000;
  display: none;
}
.head__container .head-pop .headpop-el {
  color: white;
  font-size: 1.3rem;
  margin-right: 2.5rem;
}
.head__container .head-pop .headpop-el:hover {
  color: #2077a0;
}
.head__container:hover .head-pop {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  width: 100%;
  height: 30vw;
  background-image: url(../img/cover.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
}
.hero-image .hero-text {
  position: absolute;
  top: 10%;
  left: 8%;
  width: 30%;
  min-height: 35%;
  background-color: white;
  padding: 2rem;
}
@media only screen and (max-width: 810px) {
  .hero-image .hero-text {
    display: none;
  }
}
.hero-image .hero-text h2 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  color: #444444;
}
.hero-image .hero-text p {
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #444444;
}

.avatar--big {
  margin-right: 1rem;
  border-radius: 50%;
  background-color: #ebc20b;
  position: relative;
}
.avatar--big span {
  font-size: large;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.head-dropdown {
  display: flex;
  z-index: 1000;
  align-self: stretch;
  text-align: center;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 1160px) {
  .head-dropdown .header__item--1 {
    display: none;
  }
}
@media only screen and (max-width: 950px) {
  .head-dropdown .header__item--2 {
    display: none;
  }
}
.head-dropdown__content {
  display: none;
  position: absolute;
  padding: 1.5rem;
  width: 28rem;
  min-height: 15rem;
  top: 7.5rem;
  text-align: center;
  background-color: white;
  border: 2px solid rgba(202, 202, 202, 0.589);
}
.head-dropdown__content--1 {
  right: 40rem;
}
.head-dropdown__content--2 {
  right: 20rem;
}
.head-dropdown__content h2 {
  font-size: 1.8rem;
  color: black;
  margin-bottom: 1.5rem;
}
.head-dropdown__content a {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  width: 90%;
  background-color: #2077a0;
  color: white;
  border-radius: 5px;
}
.head-dropdown__content a:hover {
  background-color: #0a425c;
  color: white;
}
.head-dropdown:hover .head-dropdown__content {
  display: block;
}

.no-cart-empty {
  width: 30rem;
  position: absolute;
  top: 0;
  left: 0;
  min-height: auto;
  background-color: white;
}
.no-cart-empty .cart-pop-top {
  width: 100%;
  padding: 1.5rem 2rem;
}
.no-cart-empty .cart-pop-top .cart-element {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #cfcfcf;
}
.no-cart-empty .cart-pop-top .cart-element div {
  margin-right: 1rem;
}
.no-cart-empty .cart-pop-top .cart-element div img {
  width: 7rem;
}
.no-cart-empty .cart-pop-top .cart-element div {
  display: flex;
  justify-content: start;
  flex-direction: column;
  text-align: left;
}
.no-cart-empty .cart-pop-top .cart-element div h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.no-cart-empty .cart-pop-top .cart-element div p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.no-cart-empty .cart-pop-top .cart-element div .price {
  font-size: 1.5rem;
}
.no-cart-empty .cart-pop-bottom {
  width: 100%;
  min-height: 5rem;
  background-color: white;
  padding: 0 2rem 0.5rem;
}
.no-cart-empty .cart-pop-bottom h2 {
  font-size: 1.8rem;
  text-align: left;
  margin-bottom: 1rem;
}
.no-cart-empty .cart-pop-bottom div {
  z-index: 6000;
  margin-top: 1rem;
  padding-bottom: 1rem;
}
.no-cart-empty .cart-pop-bottom div a {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1.4rem;
  width: 100%;
  background-color: #2077a0;
  color: white;
  border-radius: 5px;
}
.no-cart-empty .cart-pop-bottom div a:hover {
  background-color: #0a425c;
  color: white;
}

.learning {
  width: 100%;
  padding: 6rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}
.learning span.arrow {
  width: 5rem;
  height: 5rem;
  border-radius: 100px;
  color: #186488;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1), -2px -2px 2px 2px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 55%;
  background-color: white;
  transform: translateY(-50%);
  z-index: 15;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.learning span.left {
  left: 0.3%;
}
.learning span.right {
  right: 0.2%;
}
.learning__heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.learning__heading h2 {
  font-size: 3rem;
}
.learning__heading p {
  color: #186488;
  font-weight: bold;
  font-size: 1.5rem;
}
.learning__container {
  width: 100%;
  margin-top: 2rem;
  height: 16rem;
  overflow: hidden;
  position: relative;
  z-index: 5;
}
.learning__container .course-container {
  position: absolute;
  min-width: 100%;
  height: inherit;
  display: flex;
  top: 0;
  left: 0;
}
.learning__container .course-container .course {
  width: 415px;
  background-color: white;
  height: inherit;
  margin-right: 2rem;
  border: 1px solid rgba(128, 128, 128, 0.562);
  border-radius: 10px;
  display: flex;
}
.learning__container .course-container .course__image {
  width: 30%;
  object-fit: cover;
  object-position: center;
  position: relative;
}
.learning__container .course-container .course__desc {
  padding: 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.learning__container .course-container .course__desc h3 {
  font-size: 1.7rem;
}
.learning__container .course-container .course__desc p {
  padding: 1rem 0;
  font-size: 1.2rem;
  color: gray;
}
.learning__container .course-container .course__desc p.bottom {
  margin-top: 6rem;
}
.learning__container .course-container .course__desc p.bottom .duration {
  color: gray;
  font-size: 1.2rem;
}

/*# sourceMappingURL=main.css.map */
